.menu-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(../../images/flat-lay-mexican-food-composition-with-copyspace.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* padding: 50px 150px; */
}
@media (max-width: 768px) {
  .menu-bg {
    padding: 50px 20px;
  }
}